.navbar {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
}

.nav-link {
    margin-right: 3%;
    color: black;
}

input[type="submit"], button[type="submit"] {
    border: 2px solid rgb(195, 182, 182);
    border-radius: 5px;
    background-color: blue;
    color: white;
}

input:hover, button:hover, a:hover {
    cursor: hand;
}