.navbar {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
}

.nav-link {
    margin-right: 3%;
    color: black;
}

input[type="submit"], button[type="submit"] {
    border: 2px solid rgb(195, 182, 182);
    border-radius: 5px;
    background-color: blue;
    color: white;
}

input:hover, button:hover, a:hover {
    cursor: hand;
}

.search {
    position: relative;
    display: inline-block;
}
.search ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
}
.search ul li {
    padding: 5px;
    cursor: pointer;
}
.search ul li:hover {
    background-color: #f2f2f2;
}

.highlight {
    background-color: #f2f2f2;
}